<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Magic8Ball.WebApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="classic">
                <span class="oi oi-target" aria-hidden="true"></span> Classic Magic 8 Ball
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="azure">
                <span class="oi oi-cloud" aria-hidden="true"></span> Azure Magic 8 Ball
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
