@page "/askmagic8ball"

<h1>Magic 8-Ball</h1>

<p>
    <b>Instructions:</b><br />
    1. (optional) Select a Magic 8-Ball Service to use (default is a local service with the classic Magic 8-Ball answers).<br />
    2. Type a yes/no question to ask the Magic 8-Ball.<br />
    3. Press Enter or click the 8-Ball image to ask your question.<br />
    4. Wait while the Magic 8-Ball ponders your question, and then the answer will be displayed.<br />
    5. (optional) Repeat the above steps to ask another question (or if you didn't like the previous answer).<br />
</p>

@if (MyMagic8Ball == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <p><b>Question:</b></p>
        <p>@MyMagic8Ball.Question</p>
    </div>
    <div>
        <p><b>Answer:</b></p>
        <p>@MyMagic8Ball.Answer</p>
    </div>
    <div>
        <p><b>Answer Type:</b></p>
        <p>@MyMagic8Ball.Type.ToString()</p>
    </div>
}
