.img-magic8ball {
    width: 100px;
    height: 100px;
    padding: 0px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
}

.btn-magic8ball {
    width: 100px;
    height: 100px;
    padding: 0px;
    border-radius: 50%;
    background-color: transparent;
}

.btn-magic8ball:focus, .btn-magic8ball:active:focus {
    box-shadow: none;
}
